body{
	text-align: center;
	background: #006a71;
	background-size:100% auto;
	background-image: url(../imag/fondo.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
background-size: cover;

}
h1{
	text-align: center;
	position: relative;
	background: #a3f7bf;
	color: black;
	margin-top: -1%;
	font-family: cursive;
	font-size:37px;
	margin-right: -8px;
	margin-left: -8px;
}


.f1{margin-right: 10px;
	margin-left: 20px;
	text-align:justify;
	font-size: 17px;
	color: black;
	padding: 10PX;
	margin-bottom: 10px;
	margin-top: 20px;
	font-family: sans-serif;
}


.f2{
	text-align:justify;
	color: black;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 17px;
	font-family: sans-serif;
	padding: 10px;
	margin-bottom: 15px;
}
pre{
	font-size: 17px;
	font-family: sans-serif;

}

.f3{
	text-align: justify;
	margin-left: 20px;
	font-size: 17px;
	font-family: sans-serif;
	padding: 10px;
	color: black;
	margin-right: 20px;
	margin-bottom: 15px;
}
.f4{
	text-align: justify;
	margin-left: 20px;
	padding: 10px;
	margin-bottom: 15px;
	color: black;
	font-size: 17px;
	font-family: sans-serif;
}
.f5{
	text-align: justify;
	margin-left: 20px;
	padding: 10px;
	margin-bottom: 15px;
	color: black;
	font-size: 17px;
	font-family: sans-serif;
}

table{
	background:#d2f6c5; 
	margin-top: -2%;
	float: left;
	color: black;
		text-align:justify;
border-collapse: 
collapse;border:3px #204051 solid;
font-family: sans-serif;
font-size: 17px;
}
table, th, td {
  border: 1px solid black;
  	padding: 10px;
 }
 table th{
 	text-align: center;
 	background: #d2f6c5;
 }
 table td{
 	background:#d2f6c5;
 }
 .borde{
 	margin-top: 60px;
 	background: white;
 	margin-right: 100px;
 	margin-left: 100px;
 	box-shadow:4px 4px 4px 4px gray;
 }

.p1{
	text-align: center;
	font-family: sans-serif;
	margin-right: 44%;
margin-top: 50%;
margin-left: 29%;
margin-bottom: 50px;
text-decoration: underline;
color: #ddf3f5;
margin-left:320px;
}
.foto1{
	width: 15%;
height: 15%;
float: right;
margin-right: 1%;

}
.foto2{
	width: 15%;
height: 15%;
float: right;
margin-left: 1%;
}
.foto3{
	width: 15%;
height: 15%;
float: right;
}
.foto4{
	width: 15%;
height: 15%;
float: right;
margin-left: 1%;
}
.foto5{
	width: 16%;
height: 16%;
float: right;
}
.t1{
	margin-bottom: -2%;
	background: #eadea6;
	color: black;
	font-size: 40px;
}
.t2{
	background:#ff9a76;
}
.tabla1{
border: 0px;
}
.img1{
	width: 90%;
height: 15%;
}
.img2{
	width: 100%;
height: 20%;
}
.img3{
	width: 95%;
height: 35%;
}
.img4{
	width: 90%;
height: 20%;
}
.img5{
	width: 90%;
height: 40%;
}
.img6{
	width: 100%;
height: 70%;
}
.img7{
	width: 100%;
height: 70%;
}